*.o
*.d
**/.DS_Store
*.swp
*.bak

**/build
**/results
**/output-files
**/.out
**/test

manage-ec2
ec2man/contexts
ec2man/machines
ec2man/profile
**/__pycache__
*.pyc

inputs/data
inputs/small.*
inputs/featurestobinary
inputs/graphtobinary
inputs/labelstobinary
inputs/partitioner

wiki
