*.o
*.d
out*
*.bin
**/.DS_Store
*.swp

manage-ec2
ec2man/contexts
**/__pycache__
*.pyc

inputs/data
installs
run/hostfile
run/gvid
run/nodeIp
run/dshmachines
run/cserverinfo
run/zoo.basic
run/cserverinfo
config

.venv

**/build
**/results
**/output-files
**/.out
**/test
